:root {
    --col-primary: #02A6F2;
    --content-inline-size: 50rem;
}

html {
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: initial !important; /* Override normalize.css */

    /* Increase the font size slightly on desktop, but leaving it as-is for print */
    @media screen {
        font-size: 18px;
    }
}

body {
    padding: 0;
    margin: 0;
}

header {
    padding-block: 1em;

    background-color: var(--col-primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        text-align: center;

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    @media print {
        img {
            /* Invert colour so it appears nicely on a white background */
            filter: invert(1);

            block-size: 5.5rem;
        }
    }
}

.hero-logo {
    inline-size: min(16rem, 90vi);
}

section#logos {
    display: grid;

    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;

    place-items: center;
    gap: 1rem;

    img {
        display: block;
        inline-size: 100%;
        max-block-size: 5.5rem;
        object-fit: contain;

        @media print {
            block-size: 2cm;
        }
    }

    @media (width < 600px) {
        grid-auto-flow: row;

        img {
            max-block-size: 8vb;
        }
    }
}

section {
    padding-block: 0.75em;
    padding-inline: max(calc((100vi - var(--content-inline-size)) / 2), 1rem);

    background-color: white;
    display: flex;
    flex-direction: column;

    &:nth-of-type(2n) {
        background-color: #f5f3f4;
    }
}

h2, h3, h4, h5, h6 {
    color: var(--col-primary);
    margin-block: 0.65em;
}

a {
    color: var(--col-primary);
}

table {
    margin: 0;
    padding: 0;

    thead {
        color: var(--col-primary);
    }

    th {
        border-block-end: 2px solid var(--col-primary);
        text-align: start;
    }

    th, td {
        padding: 0.5em;
    }
}

.figure {
    margin-inline: auto;
    inline-size: calc(var(--figure-scale, 1.0) * min(var(--content-inline-size), 90vi));
}

.figure-medium {
    --figure-scale: 0.5;
}

.no-print {
    @media print {
        display: none;
    }
}
